@import "reset.css";

a {
  text-decoration: none;
}
body {
  background-color: #ffc600;
}

.js__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #264873;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 13px;
}

.js__image,
.js__text {
  color: #eeeeee;
}
