@import "reset.css";
body {
  overflow: hidden;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.input_wrapper {
  background-color: black;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.input__text {
  border-radius: 20px;
  width: 300px;
  height: 30px;
  border: 1px solid blue;
  text-align: center;
}

.input__btn {
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 1px solid blue;
  margin-left: 10px;
}
