@import "reset.css";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  min-width: 100vh;
  height: 100vh;
}

.clock {
  color: #ffffff;
  font-size: 40px;
}
